<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Mobile_Bearded_Bear.Mobile_Bearded_Bear" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="Mobile-Bearded-Bear" android:icon="@drawable/Icon"></application>
</manifest>